<h2>{{$ctrl.title}}</h2>
<p>{{$ctrl.welcome}}</p>

<!-- Chat Room Messages -->
<h2>COCO Network</h2>

<div class="coco-convo-container">
  <div class="message-container">
    <div class="message-line" ng-repeat="msg in $ctrl.messages">
      <span ng-if="msg.info.userId != undefined">{{msg.info.userId}}:</span>
      <span ng-if="msg.info.response == undefined">{{msg.info.msg}}</span>
      <span ng-if="msg.info.response != undefined">{{msg.info.response}}</span>
    </div>
  </div>
  <div class="input-container">
    <input id="msg" ng-model="$ctrl.cocoMsg"/>
    <button ng-click="$ctrl.sendMsg()">Send</button>
    <button ng-click="$ctrl.listCoco()">List</button>
  </div>
</div>
