<h2>{{$ctrl.title}}</h2>
<!--USER ID -->
<div class="userid-container"><input class="userID" ng-model="$ctrl.userId"/></div>

<!-- General Message -->
<div class="convo-container">
  <div class="message-container">
    <div class="message-line" ng-repeat="msg in $ctrl.messages"><span ng-if="msg.info.userId != undefined">{{msg.info.userId}}:</span> {{msg.info.msg}}</div>
  </div>
  <div class="input-container">
    <input id="msg" ng-model="$ctrl.userMsg"/>
    <button ng-click="$ctrl.sendMsg('general')">Send</button>
  </div>
</div>

<div class="connection-status" ng-click="$ctrl.toggleConnection('general')">{{$ctrl.connStatus}}</div>

<!-- Private Messages-->
<h2>Private Room</h2>

<div class="convo-container">
  <div class="message-container special">
    <div class="message-line" ng-repeat="msg in $ctrl.privateMessages"><span ng-if="msg.info.userId != undefined">{{msg.info.userId}}:</span> {{msg.info.msg}}</div>
  </div>
  <div class="input-container private"><input class="userID" ng-model="$ctrl.privateId"/></div>
  <div class="input-container">
    <input id="msg" ng-model="$ctrl.userPrivateMsg"/>
    <button ng-click="$ctrl.sendMsg('private')">Send</button>
  </div>
</div>

<!-- Chat Room Messages -->
<h2>Special Chat Room</h2>

<div class="convo-container">
  <div class="message-container">
    <div class="message-line" ng-repeat="msg in $ctrl.roomMessages"><span ng-if="msg.info.userId != undefined">{{msg.info.userId}}:</span> {{msg.info.msg}}</div>
  </div>
  <div class="input-container">
    <input id="msg" ng-model="$ctrl.userRoomMsg"/>
    <button ng-click="$ctrl.sendMsg('special')">Send</button>
  </div>
</div>
<div class="connection-status" ng-click="$ctrl.toggleConnection('specialRM')">{{$ctrl.roomConnStatus}}</div>
