<!-- BODY Needs to be placed in this file -->
<!--<div class="mainBody" ui-view="content" autoscroll="true" aria-relevant="all" aria-live="assertive"></div>-->

<div class="outline-container">
    <div class="outer-outline">
        <div class="orbit-l0">
            <!-- Outer Orbit Orbes-->
            <div class="outerArea NE-area">
                <div class="area-inner"></div>
            </div>

            <div class="outerArea SE-area">
                <div class="area-inner"></div>
            </div>

            <!-- Inner Orbit Orbes-->
            <div class="orbit-l1">                
                <div class="orbit-orbe"><div class="inner-orbe"></div></div>
                <div class="orbit-orbe"><div class="inner-orbe"></div></div>
                <div class="orbit-orbe"><div class="inner-orbe"></div></div>
                <div class="orbit-orbe"><div class="inner-orbe"></div></div>
                <div class="orbit-orbe"><div class="inner-orbe"></div></div>
                <div class="orbit-orbe"><div class="inner-orbe"></div></div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="outline-svg">
        <svg viewBox='0 0 104 104'>            
            <path d='M52,102 A50,50 0 0,1 19.86,13.69' id='left-half' />
            <path d='M52,102 A50,50 0 0,0 84.14,13.69' id='right-half'/>
        </svg>
    </div>

-->
